SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOW_ALL_ORIGINS=True

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=noreply@publicationmanager.com
PASSWORD_RESET_OTP_EXPIRY_MINUTES=10
PASSWORD_RESET_THROTTLE_RATE=3/hour
PASSWORD_RESET_CONFIRM_THROTTLE_RATE=5/hour
